 <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text" id="addon-wrapping">차량번호</span>
        <input type="text" class="form-control" placeholder="Car Number" aria-label="Car Number"
               aria-describedby="addon-wrapping">
    </div>
     <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">차량종류</span>
        <input type="text" class="form-control" placeholder="Car Number" aria-label="Car Number"
               aria-describedby="addon-wrapping">
    </div>
     <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">차량 책임자</span>
        <input type="text" class="form-control" placeholder="Car Number" aria-label="Car Number"
               aria-describedby="addon-wrapping">
    </div>
      <div class="input-group flex-nowrap mt-5">
        <span class="input-group-text" id="addon-wrapping">사번</span>
        <input type="text" class="form-control" placeholder="Car Number" aria-label="Car Number"
               aria-describedby="addon-wrapping">
    </div>